- if admin_admin?
  %ul.nav.navbar-nav
    %li{ class: item_class(:requests) }
      = link_to :admin_admin_registration_requests do
        Requests
        - if (c = RegistrationRequest.unarchived.count) > 0
          %span.badge= c
    %li{ class: item_class(:groups) }= link_to "Organizations", :admin_admin_groups
    %li{ class: item_class(:settings) }= link_to "Settings", :edit_admin_admin_settings

  %ul.nav.navbar-nav.navbar-right
    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        %span.glyphicon.glyphicon-user
        Admin <span class="caret"></span>
      %ul.dropdown-menu
        %li= link_to "Logout", :admin_admin_logout
