- if admin_admin?
  %ul.nav.navbar-nav
    %li
      = link_to :admin_admin_registration_requests do
        Registrations
        - if (c = RegistrationRequest.unarchived.count) > 0
          %span.badge= c
    %li= link_to "Groups", :admin_admin_groups
    %li= link_to "Settings", :edit_admin_admin_settings

  %ul.nav.navbar-nav.navbar-right
    %li= link_to "Logout", :admin_admin_logout
