- if logged_in?
  %ul.nav.nav-pills.pull-right
    - if group_admin?
      %li= link_to "Users", :group_admin_users
      %li= link_to "Settings", :edit_group_admin_settings
    - else
      %li= link_to "Messages", :messages
    %li= link_to "Profile", :edit_profile
    %li= link_to "Logout", :logout
